@{
    ViewBag.Title = "Add New Movie";
}

<h2>Add New Movie</h2>


<label for="movieTitle">Title:
    <input type="text" id="movieTitle" name="movieTitle" />
</label>
<label for="releaseYear">Release Year:
    <input type="text" id="releaseYear" name="releaseYear" />
</label>

<button onclick="addNewMovie()">Add</button>

<script type="text/javascript">
    function addNewMovie() {
        var movieTitle = $('#movieTitle').val();
        var releaseYear = $('#releaseYear').val();

        $.ajax({
            url: 'AddNewMovie',
            type: 'POST',
            data: {
                movieTitle: movieTitle,
                releaseYear: releaseYear
            }
        });
    };
</script>