@model ClientSideDevelopment.ViewModels.Home.IndexViewModel
@{   
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                @if (movie.Director != null)
                {
                    <td>@movie.Director.FirstName @movie.Director.Surname</td>
                }
            </tr>   
        }
    </tbody>
</table>

<a href="~/Home/AddNewMovie">Add new movie</a>
