@model ClientSideDevelopment.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h1>Film Site <small>Managing your favourite films.</small></h1>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <div data-bind="with: addMovieViewModel">
            <form id="addNewMovie" data-abide="ajax" data-bind="submit: addMovie">
                <div>
                    <label>
                        Title: <small>required</small>
                        <input type="text" id="movieTitle" name="movieTitle" required />
                    </label>
                    <small class="error" data-error-message>Movie title is required.</small>
                </div>
                <div>
                    <label>
                        Release Year: <small>required</small>
                        <input type="text" id="releaseYear" name="releaseYear" required pattern="\d{4}" />
                    </label>
                    <small class="error" data-error-message>Release year is required (YYYY).</small>
                </div>
                <div>
                    <label>
                        Rating:
                        <select id="rating" name="rating">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </label>
                </div>
                <button type="submit">Add new movie</button>
            </form>
        </div>
    </div>
    <div class="large-9 columns">
        <table id="movie-table" data-bind="with: favouritesViewModel">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: movies">
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: year"></td>
                    <td data-bind="text: rating"></td>
                    <td><a href="#" data-bind="click: viewRelatedTitles"><i class="fi-magnifying-glass" title="Related titles..."></i></a></td>
                </tr>
            </tbody>
        </table>
        <div id="related-titles" class="reveal-modal" data-reveal data-bind="with: selectedMovie">
            <h2 id="source-title" data-bind="text: title"></h2>
            <p id="critics-concensus" data-bind="text: criticsConcensus"></p>
            <p>Because you liked this film, you may also like...</p>
            <table id="related-titles-table">
                <thead>
                    <tr>
                        <td>Film</td>
                        <td>Title</td>
                        <td>Year</td>
                        <td>Audience Score</td>
                        <td>Critics Score</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
    </div>
</footer>

@section scripts
{    
    <script type="text/javascript">
        $(function () {
            ko.applyBindings(new filmSite.AppViewModel());
        });
    </script>
}